#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em
}

.images img {
  width: 100%;
  object-fit:cover;
  border-radius: 1em;
  aspect-ratio: 16/9;
}

.card {
  margin-top: 80px; 
  padding: 20px;
}